<!DOCTYPE html>
<html>
<head>
	<title>* Clase del viernes 28-04-17 - Symfony *</title>
</head>
<body>
 <h2> Listado de posts </h2>
	<!--<a href="https://symfony.com/doc/current/contributing/community/releases.html#version-history"> -->
	<ul>
		<!-- {{dump(posts)}} --> 

		{% for post in posts %}
		<li>
			<a href="{{ path('show_post', {'id': post.id}) }}">{{post.title}}</a>
		</li>	
		{% endfor %}
	</ul>
				
</body>
</html>