<!DOCTYPE html>
<html>
<head>
	<title>* Clase del viernes 08-05-17 - Symfony *</title>
</head>
<body>
 <h2> {{ post.title }} </h2>
 <img src="{{ post.imagen }}">
 <p> {{ post.contenido }} </p>

		
				
</body>
</html>