<!DOCTYPE html>
<html>
<head>
	<title>Ver sala elegida</title>
</head>
<body>
<div class="page-header">
  <h3>Sala elegida <small> Ver detalle </small></h3>
</div>
 <div class="container">
  <div class="panel-body">
    <p>  {{ salas.nombre }} </p>
 	<img class="media-object" style="width: 84px; height: 84px" src="{{ salas.imagen }}">
 	<p> Dirección: {{ salas.direccion }} </p>
  </div>
 </div>		
</body>
</html>