{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agregar un nuevo espectáculo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Agregar" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('espectaculo_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
