<!DOCTYPE html>
<html>
<head>
	<title>* Espectáculos *</title>
</head>
<body>
 <h2> Listado de espectáculos </h2>
	
	<ul>
		

		{% for e in espectaculos %}
		<li>
			<a href="{{ path('show_post', {'id': post.id}) }}">{{post.title}}</a>
		</li>	
		{% endfor %}
	</ul>
				
</body>
</html> 